.container {
    display: flex;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: 90vh;
    margin: 20px 0;
    flex-wrap: wrap;
}

.left {
    flex: 1.3;
    width: 100%;
    display: flex;
}

.left .image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: auto;

}

.left .image img {
    display: flex;
    max-width: 400px;

}

.right {
    width: 100%;
    height: 400px;
    display: flex;
    flex: 2;
    height: 100%;
    flex-direction: column;
}

.right div {
    border-bottom: 1px gainsboro solid;
    padding: 15px 0px;
}

.right .review {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    opacity: 0.7;
    justify-content: center;
    font-weight: bold;

}

.right .review span:last-child {
    display: flex;
    align-items: center;
    gap: 3px;

}

.seller {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: 100%;

}

.title span {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 100px;
    margin-right: 10px;
    font-size: 12px;
}

.title div {
    display: flex;
    border: none;
    align-items: center;
    gap: 10px;


}

.title div button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(252, 224, 217);
    color: rgb(230, 46, 4);
    cursor: pointer;
}

.title div button:hover {
    opacity: 0.8;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

.title span span {
    opacity: 0.7;
}

.price_info {
    display: flex;
    flex-direction: column;
    border: none;
}

.price_info div {
    border: none;
}

.price,
.discount,
.point,
.quantity {
    display: flex;
    align-items: center;
    font-size: 12px;
    opacity: 0.7;
    gap: 10px;

}

.price span:last-child {
    display: flex;
    font-size: 20px;
    text-decoration-line: line-through;
    color: black;

}

.discount span:last-child {
    color: red;
    display: flex;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
}

.discount span:last-child span:last-child {
    display: flex;
    font-size: 20px;
    color: gray;
}

.point span:last-child {
    display: flex;
    background: rgb(252, 224, 217);
    width: auto;
    height: auto;
    padding: 5px 10px;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    justify-content: center;
    font-size: 12px;
}

.quantity_info {
    font-size: 20px;
    color: black;
    border: none !important;
}

.quantity {
    flex-wrap: wrap;
    display: flex;
    border: none;
}

.quantity span {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.quantity span button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
}

.quantity span input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 50%;
}

.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cart button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.cart button:first-child {
    align-items: center;
    background: rgb(252, 224, 217);
    color: rgb(230, 46, 4);

}

.cart button:last-child {
    align-items: center;
    background: rgb(252, 224, 217);
    color: whitesmoke;
    background: rgb(230, 46, 4);
}