.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    height: auto;
    max-height: 450px;
    position: relative;
    left: 0;
    gap: 3px;
}

.left {
    display: flex;
    flex: 2;
    border-radius: 5px;
    width: 100%;
    height: auto;
    position: relative;
    max-height: 100%;
    background: rgb(255, 255, 255);
    flex-direction: column;
}

.left ul {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: auto;
    left: 0;
    padding: 5px;
    max-height: 100%;
    list-style: none;
}

.left ul li {
    display: flex;
    left: 0;
    align-items: center;
    height: 100%;
    width: 90%;
    padding: 10px;
    max-height: 100%;
    color: rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    transition: all 0.5s ease;
}

.left ul li a {
    text-decoration: none;
    color: inherit;
}

.left ul li:first-child {
    background: rgb(252, 224, 217);
    font-weight: bold;
}

.left ul li:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;

}

.center {
    display: flex;
    flex-direction: column;
    flex: 4;
    border-radius: 5px;
    width: 100%;
    max-height: inherit;
    height: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.center_top {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: auto;
    flex: 4;
}

.center_top img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    height: auto;
    overflow: hidden;
}


.center_bottom {
    display: flex;
    width: 100%;
    flex: 1.5;
    height: auto;
    margin: auto 0;
}

.center_bottom ul {
    display: flex;
    width: 100%;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 5px;
}

.center_bottom ul li {
    display: flex;
    background: rgb(255, 255, 255);
    width: 120px;
    padding: 10px;
    font-size: 0.7rem;
    flex-direction: column;
    height: 120px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-radius: 5px;
    transition: all 300ms ease;

}

.center_bottom ul li:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;

}

.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    max-width: inherit;
    align-items: center;
    justify-content: center;

}


.center_bottom ul li img {
    display: flex;
    width: 50px;

}

.right {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 5px;
    background: rgb(230, 46, 4);
}

.right_header {
    display: flex;
    background: rgb(252, 224, 217);
    height: 50px;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    padding: 3px;
    gap: 5px;

}

.right_header span {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: white;
    font-weight: normal;
    font-size: 12px;
    border-radius: 3px;
    background: rgba(214, 55, 19, 0.903);
}

.right_item {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;

}

.right_item ul {
    display: flex;
    width: 100%;
    padding: 5px;
    gap: 5px;
    flex-direction: column;
    list-style: none;
    left: 0;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    scrollbar-width: none;
}

.right_item ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 150px;
    padding: 5px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.right_item ul li:hover {
    cursor: pointer;
}

.right_item ul li img {
    display: flex;
    width: 100px;
    height: 100px;
}

.right_item ul li span {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right_header .more {
    display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        height: 20%;
    }

    .left {
        height: 350px;
    }

    .center_bottom {
        height: 100%;
        width: 100%;
    }

    .center_bottom ul {
        padding: 2px;
        width: 100%;
        height: 100%;


    }

    .center_bottom ul li {
        padding: 3px;
        width: 100px;
        height: 100px;
    }

    .center_bottom ul li img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
    }

    .right {
        width: 100%;
        height: auto;
        max-height: 345px;
        margin-top: 10px;
        padding: 2px;
    }

    .right_header,
    .right_header span {
        font-size: 0.8rem;
    }

    .right_item ul {
        gap: 5px;
        height: auto;
        list-style: none;
    }

    .right_item ul li {
        justify-content: center;
        align-items: center;
        height: auto;
        max-height: 70px;
        max-width: 70px;
    }

    .right_item ul li img {
        width: 50px;
        height: 50px;
    }

}