.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    top: 5px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 1rem;
    width: 100%;
    background: rgb(255, 255, 255);
    transition: all 300ms ease;
}

.title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 5px 10px;
    height: 70px;

    justify-content: space-between;
    border-bottom: 1px solid gainsboro;


}

.title div {
    display: flex;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: black;
    font-size: 1.4rem;
}

.title div button {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border: none;
    background: rgb(230, 46, 4);
    color: white;
    font-size: 15px;
}

.divider {
    width: 12%;
    height: 2px;
    background: red;
}

.content {
    width: 100%;
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    gap: 5px;
    display: flex;
    padding: 20px 0;
    margin: 5px;

}

.content .rightArrow {
    display: flex;
    z-index: 10;
    position: relative;
    background: black;
    overflow: auto;
    width: 100%;
    right: 0;
}

.content .leftArrow {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;
    background: black;


}